<div class="row">
	<div class="col-xs-6" ng-if="vm.thirdStep">
		<div class="panel panel-default">
			<div class="panel-body">
				<form name="form" novalidate>
					<div class="form-group">
						<label>Ime i Prezime: *</label> <input type="text"
							class="form-control" name="fullName" ng-model="vm.user.name"
							required>
					</div>
					<div class="form-group">
						<label>JMBG:</label> <input type="text" class="form-control"
							name="jmbg" ng-model="vm.user.jmbg">
					</div>
					<div class="form-group">
						<label>Br. Telefona: *</label> <input type="text"
							class="form-control" name="phoneNumber"
							ng-model="vm.user.phoneNumber" required>
					</div>
					<div class="form-group">
						<label>Email:</label> <input type="text" class="form-control"
							name="email" ng-model="vm.user.email">
					</div>
					<div class="form-group">
						<label>Adresa: *</label> <input type="text" class="form-control"
							name="address" ng-model="vm.user.address"
							value="Rudjera Boskovica 42, 21000 Novi Sad" required>
					</div>
					<div class="form-group">
						<label>Registarse oznake:</label> <input type="text"
							class="form-control" name="regNumber"
							ng-model="vm.user.licencePlate" required>
					</div>
					<div class="form-group">
						<label>Broj Sasije:</label> <input type="text"
							class="form-control" name="caseNumber"
							ng-model="vm.user.chassieNumber" required>
					</div>
					<div class="form-group">
						<label>Marka i Tip:</label> <input type="text"
							class="form-control" name="brandAndType"
							ng-model="vm.user.vehicle" required>
					</div>
					<div class="form-group">
						<label>Trajanje:</label> <select name="duration"
							class="form-control" ng-model="vm.user.duration" required>
							<option value="3">3</option>
							<option value="6">6</option>
							<option value="9">9</option>
							<option value="12">12</option>
						</select>
					</div>

					<button type="submit" class="btn btn-default pull-right"
						ng-click="vm.submitStepOne(form)">Dalje</button>
				</form>
			</div>
		</div>
	</div>

	<div class="col-xs-6 pull-right" ng-if="vm.secondStep && vm.thirdStep">
		<div class="panel panel-default">
			<div class="panel-body">
				<form name="form-packet" novalidate>
					<div class="form-group clearfix">
						<div class="form-group" ng-repeat="packet in vm.packets">
							<button type="button" class="btn btn-default col-xs-12"
								ng-click="vm.user.packet = packet"
								ng-class="{'active': vm.packet == 'packet.id'}">Paket:
								{{packet.name}} Cena: {{packet.price}} rsd</button>
						</div>
					</div>

					<button type="submit" class="btn btn-default pull-right"
						ng-click="vm.submitStepTwo()">Dalje</button>
				</form>
			</div>
		</div>
	</div>
	<!-- 	ng-if="vm.thirdStep" -->
	<div class="col-xs-12 pull-right" ng-if="!vm.thirdStep">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="print-form-container">
					<div id="print-form" class="print-form">
						<div class="heading">
							<!-- 					<div class="col-xs-3"> -->
							<!-- 							<img src="img/amc.png" alt="" class="col-xs-12"> -->
							<!-- 					</div> -->
							<h3>UGOVOR</h3>
							<h4>POMOCI NA PUTU</h4>
							<h4>{{vm.contract.packet.name}}</h4>
						</div>

						<div class="grid-container">
							<div class="row">
								<div class="col-xs-6 grid-cell grid-cell-top">Broj
									ugovora: {{vm.contract.id}}</div>
								<div class="col-xs-6 grid-cell grid-cell-right grid-cell-top"
									ng-bind="vm.contract.creationDate | date:'MM/dd/yyyy'">
									Datum izdavanja ugovora: {{vm.contract.creationDate}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6 grid-cell">Organiz.jedinica:
									{{$root.user.name}}</div>
								<div class="col-xs-6 grid-cell grid-cell-right">Izradio:
									{{$root.user.name}}</div>
							</div>
						</div>
						<div class="border-bot">
							<div class="row">
								<div class="col-xs-6">Ugovarač: {{vm.contract.name}}</div>
								<div class="col-xs-6">Matični broj: {{vm.contract.jmbg}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">Adresa: {{vm.contract.address}}</div>
								<div class="col-xs-6">Broj telefona:
									{{vm.contract.phoneNumber}}</div>
							</div>
						</div>
						<div class="grid-container">
							<div class="row">
								<div class="col-xs-6 grid-cell grid-cell-top">Marka, tip,
									model: {{vm.contract.vehicle}}</div>
								<div class="col-xs-6 grid-cell grid-cell-top">Reg.oznaka:
									{{vm.contract.licencePlate}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6 grid-cell">Broj šasije:
									{{vm.contract.chassieNumber}}</div>
								<div class="col-xs-6 grid-cell grid-cell-right">Naziv
									paketa: {{vm.contract.packet.name}}</div>
							</div>
						</div>
						<div class="grid-container">
							<div class="row">
								<div class="col-xs-6 grid-cell-left grid-cell-top">Period
									trajanja: {{vm.contract.duration}} meseci</div>
								<div
									class="col-xs-6 grid-cell-left grid-cell-right grid-cell-top"
									ng-bind="vm.contract.creationDate | date:'MM/dd/yyyy'">
									Početak osiguranja: {{vm.contract.creationDate}}</div>
							</div>
							<div class="row">
								<div class="col-xs-12 inner-grid-cell grid-cell-right">
									<div class="col-xs-6"></div>
									<div class="col-xs-6 grid-cell-left"
										ng-bind="vm.contract.expirationDate | date:'MM/dd/yyyy'">Prestanak
										osiguranja: {{vm.contract.expirationDate}}</div>
								</div>
							</div>
						</div>
						<div class="grid-container">
							<div class="row">
								<div
									class="col-xs-6 grid-cell-left grid-cell-top grid-cell-bottom">
									Način plaćanja:</div>
								<div
									class="col-xs-6 grid-cell-left grid-cell-top grid-cell-right grid-cell-bottom">
									jednokratno</div>
							</div>

							<div class="row">
								<div class="col-xs-6 "></div>
								<div class="col-xs-6 grid-cell-right inner-grid-cell">ZA
									UPLATU: {{vm.contract.packet.price}} rsd</div>
							</div>
						</div>

						<div class="custom-div-text">- Korisnik je obavezan da u
							slucaju potrebe za pomoc na putu pozove CENTAR ZA POMOC
							0800/021-024 od kojeg ce dobiti instrukcije za usluge koje su
							definisane Uslovima POMOCI NA PUTU. Osiguranik svojim potpisom
							potvrduje da je upoznat sa obavezom javljanja Centru za pomoc i
							Uslovima paketa , odnosno da je iste pri ugovaranju pomoci na
							putu preuzeo. Ugovor nije vazeci dok se ne izvrsi uplata.</div>
						<div class="custom-div-text-center">Ugovor vazi bez pecata.</div>
						<div class="custom-div-signature">
							<div class="row">
								<div class="col-xs-12  grid-cell-right">
									<div class="col-xs-3"></div>
									<div class="col-xs-6"></div>
									<div class="col-xs-3"></div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div class="col-xs-3 grid-cell-top">Ugovarac</div>
									<div class="col-xs-6"></div>
									<div class="col-xs-3 grid-cell-top">AMC</div>
								</div>
							</div>
						</div>
						<div class="custom-div-bottom">D.O.O. AMC Srbija Group ::
							Branka Ilica 3 :: 21000 Novi Sad :: Maticni broj: 21149888 ::
							PIB: 109253508 :: 0800-021-024</div>
					</div>
				</div>
				<button type="button" class="btn btn-default pull-right"
					ng-click="vm.printAndSave()">Sacuvaj i Štampaj</button>
				<button type="button" class="btn btn-primary pull-left"
					ng-click="vm.thirdStep = false;">Nazad</button>
			</div>
		</div>
	</div>
	<!-- 	uplatnica -->
	<!-- 	 -->
	<div class="col-xs-12 pull-right" ng-if="!vm.thirdStep">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="print-form-uplatnica-container">
					<div id="print-form-uplatnica" class="print-form-uplatnica"
						style="background: url(img/uplatnica-rs.png) no-repeat center; width: 790.28px; height: 300px;">
						<div id="table_nalog">
							<div id="table_left">
								<p>Uplatilac:</p>

								<p>Svrha uplate:</p>
								<p>Primalac:</p>


							</div>
							<div class="table_right">
								<div class="row table_spacing_row_1">
									<div class="col-xs-3 ">SFR</div>
									<div class="col-xs-3 ">RSD</div>
									<div class="col-xs-6 ">iznos</div>
								</div>
								<div class="row table_spacing_row_2">
									<div class="col-xs-3 ">RACUN</div>
								</div>
								<div class="row table_spacing_row_3">
									<div class="col-xs-3 ">Model</div>
									<div class="col-xs-9 ">Poziv</div>
								</div>

							</div>
							<div class="hr_dashed"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>